/* Jumbotron containing the photo */

.jumbotron-main-with-image {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 3vw 5vw 3vw 10vw;
}

.jumbotron-image {
    width: 20vw;
    max-width: 30vh;
    height: auto;
    margin-left: 36px;
    object-fit: cover;
}
/* Photo of me in index.html */

.image-headshot {
    display: block;
    background-image: url(../headshot/duncan-ritchie-headshot.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.webp .image-headshot {
    background-image: url(../headshot/duncan-ritchie-headshot.webp);
}

/* Photo does not display on mobile. */

@media (max-width:767px) {

    .jumbotron-image {
        display: none;
        position: absolute;
        width: 20vw;
        height: 20vh;
        object-fit: cover;
        margin: -2vw 0 -8vw 80vw;
    }
}
