/* Jumbotron containing the photo */

.jumbotron-main-with-image {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 3vw 5vw 3vw 10vw;
}

.jumbotron-image {
    width: 20vw;
    max-width: 30vh;
    height: auto;
    margin-left: 36px;
    object-fit: cover;
}

.no-crop {
    margin-left: 36px;
    object-fit: cover;
    object-position: top;
    min-width: 25vh;
    max-width: 45vw;
    /* min-height: inherit; */
    max-height: 40vh;
}

/* Photo of me in index.html */

.image-headshot {
    display: block;
    background-image: url(../headshot/duncan-ritchie-headshot.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.webp .image-headshot {
    background-image: url(../headshot/duncan-ritchie-headshot.webp);
}

/* Photo does not display on mobile. */

@media (max-width:767px) {

    .jumbotron-image,.no-crop {
        display: none;
        position: absolute;
        width: 20vw;
        height: 20vh;
        object-fit: cover;
        margin: -2vw 0 -8vw 80vw;
    }
}


/* Media query for printing. */

@media print {
    .jumbotron-main-with-image {
        margin: 0;
        padding: 0;
    }

    .image-headshot {
        content: url(../headshot/duncan-ritchie-headshot.jpg)
    }

    .webp .image-headshot {
        content: url(../headshot/duncan-ritchie-headshot.webp);
    }
}

/* Ensure any image inside the jumbotron displays.  */
@media print and (min-width: 400px) {
    .jumbotron-image {
        display: initial;
        position: initial;
        margin: initial;
        padding: initial;
    }
}