@import url('https://fonts.googleapis.com/css?family=Alegreya');

html,body {
    margin: 0;
    padding: 0;
    font-family: "Alegreya", serif;
    font-size: 24px;
    /* font-size: calc(16px + (28px - 16px) * ((100vw - 360px) / (2400px - 360px))); */
    font-size: calc(16px + 12 * ((100vw - 360px) / 2040));
    --colour1: rgb(94, 147, 215);
    --colour2: rgb(202, 222, 245);
    --colour3: rgb(182, 192, 174);
    --colour4: rgb(155, 182, 66);
    --colour5: rgb(140, 179, 75);
    --colour6: rgb(62, 97, 41);
    --nav-text: rgb(51, 51, 51);
    --body-text: rgb(17, 17, 17);
    --visited-text: rgb(118, 2, 122);
    scroll-snap-type: proximity;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    /* Browsers that don’t do gradients will use the jpeg background. */
    background-image: url(../backgrounds/gradient-background.jpg);
    background-size: 100% 100%;
    /* Browsers that don’t do CSS variables will use the hex values. */
    background-image: linear-gradient(
        #5e93d7ff,
        #b3d3f7ff,
        #9aa691ff,
        #7d952fff,
        #82aa3bff,
        #2d4a1bff
    );
    /* Browsers that support gradients and CSS variables will use these. */
    background-image: linear-gradient(
        var(--colour1),
        var(--colour2),
        var(--colour3),
        var(--colour4),
        var(--colour5),
        var(--colour6)
    );
    background-attachment: fixed;
}

section:not(.showcase-group) a {
    text-decoration: underline;
}

section:not(.showcase-group) a:visited {
    color: var(--visited-text);
}

section:not(.showcase-group) a:hover {
    color: var(--colour6);
    text-decoration: none;
    border-bottom: 1px thin;
}

/* Styles for the navbar. */

nav {
    position: fixed;
    display: flex;
    z-index: 2;
    width: calc(100% - 48px);
    width: calc(100% - 2rem);
    justify-content: space-between;
    align-items: center;
    margin: 24px 0 0;
    margin: 1rem 0 0;
    padding: 0 24px;
    padding: 0 1rem;
    font-size: 19px;
    font-size: 0.7917rem;
    background-color: #bfd4ef;
    background-color: #ffffff7f;
    color: var(--nav-text);
    text-decoration: none;
}

nav a {
    color: inherit;
    text-decoration: inherit;
}

nav #nav-icon-a {
    flex-basis: min-content;
    flex-grow: 0;
}

nav #nav-icon {
    width: 36px;
    width: 1.5rem;
    margin-top: 6px;
    margin-top: 0.25rem;
    padding: 0;
    background-color: initial;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    flex-basis: max-content;
    flex-grow: 1;
}

nav ul li a:not(#nav-icon-a),label {
    padding: 12px;
    padding: 0.5rem;
}

nav ul li label:hover,a:hover {
    color: var(--colour6);
    background-image: linear-gradient(#ffffff00, #ffffff00, #ffffff00, #2d4a1b4f);
}

nav ul input {
    display: none;
}

nav ul li a,label {
    padding-left: 9px;
    padding-right: 9px;
    padding-left: 0.375rem;
    padding-right: 0.375rem;
}

/* nav #skip-nav-li {
    color: var(--colour6);
    transition: all 0.3s;
}

nav #skip-nav-li:not(:focus-within) {
    width: 0;
    transform: translateX(-100vw);
} */

nav ul ul {
    position: absolute;
    flex-direction: column;
    display: none;
    font-size: 20px;
    font-size: 0.8333rem;
    margin-top: 12px;
    margin-top: 0.5rem;
    background-color: #9ebee7;
    background-color: #ffffffcf;
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
}

nav label {
    cursor: pointer;
    padding: 12px 18px;
    padding: 0.5rem 0.75rem;
}

nav label::after {
    content: "⮟";
    font-size: 16px;
    font-size: 0.6667rem;
}

nav :checked ~ label {
    background-color: #ffffffdf;
}

nav :checked ~ ul {
    display: block;
}

nav ul ul li {
    padding: 6px 12px 0 0;
    padding: 0.25rem 0.5rem 0 0;
    width: 100%;
}

nav ul ul li a {
    display: inline-block;
    padding: 6px 12px 6px 18px;
    padding: 0.25rem 0.5rem 0.25rem 0.75rem;
    width: 100%;
}

nav #socials-list {
    flex-grow: 0;
}

a.anchor {
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    transform: translateY(-22px);
    transform: translateY(calc(2px - 1rem));
    scroll-snap-align: start;
}

#text-wrap-guide.hidden {
    display: none;
}

section {
    padding: 0;
    margin: 0;
    scroll-snap-align: end;
}

h1 {
    font-size: 84px;
    font-size: 3.5rem;
    font-weight: normal;
    font-weight: 400;
    z-index: 1;
    text-align: right;
    color: #3c381d; /* Overruled if intersection observer exists, or in showcase. */
}

/* This selector is for adding an arrow after external links inside sections. */
section p:not(.img-container) a[href^="http"]:not([href*="duncanritchie.co.uk"])::after {
    content: "↗";
    vertical-align: super;
    font-size: 60%;
    padding-left: 3.6pt;
    padding-left: 0.15rem;
    outline: none;
    text-decoration: none;
    clip-path: polygon(0 0, 100% 0, 100% 77%, 0 77%)
}

section .img-container {
    padding-top: 24px;
    padding-top: 1rem;
    text-align: right;
}

section .img-container img {
    width: 240px;
    width: 10rem;
}

/* CSS for browsers that don’t support intersection observers. */

.no-intersection-observer .default-main-image {
    display: none;
}

.no-intersection-observer .main-image {
    position: relative;
    float: left;
    width: 50vw;
    min-height: 36vw;
    padding: 84px 0 24px 0;
    padding: 3.5rem 0 1rem 0;
}

.no-intersection-observer section:not(.showcase-group) {
    float: left;
    width: 45vw;
    width: calc(47vw - 24px);
    width: calc(47vw - 1rem);
    padding: 84px 2vw 24px 1vw;
    padding: 3.5rem 2vw 1rem 1vw;
}

.no-intersection-observer h1 {
    margin: 0;
}

.no-intersection-observer .main-image:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
}

.no-intersection-observer section:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
}

/* CSS for browsers that support intersection observers. */

@media (min-width: 601px) {

    .has-intersection-observer section:not(.showcase-group) {
        min-height: 100vh;
    }

    .has-intersection-observer h1 {
        padding-top: 12px;
        padding-top: 0.5rem;
        right: 30px;
        right: 1.25rem;
        line-height: 90%;
        /* height: 100%; */
        position: absolute;
        /* Browsers that don’t understand background-clip will show white text on a gradient-filled rectangle. */
        color: white;
        background: -webkit-linear-gradient(top, #111007,#58522c, #58522c);
        background: linear-gradient(180deg, #111007, #58522c, #58522c);
        /* The height of the gradient fill is not dependent on the height of the h1. */
        background-size: 100% 9.45rem;
        background-position: center;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    /* Hack to stop background-clip cutting off the descenders of the last line of the h1. */
    /* \00000a is a newline, therefore the last line of the h1 is no longer the last line. */
    .has-intersection-observer h1::after {
        content: "\00000a .";
        white-space: pre;
        white-space: pre-wrap;
        opacity: 0;
    }

    .has-intersection-observer section:not(.showcase-group):not(#velut) h1 + p {
        padding-top: 228px;
        padding-top: 9.5rem;
    }

    .has-intersection-observer #velut-section h1 {
        margin-top: 72px;
        margin-top: 3rem;
        margin-bottom: 24px;
        margin-bottom: 1rem;
        /* The border adds spacing but does not affect the gradient-filled background like padding would. */
        border-top: 72px solid transparent;
        border-top: 3rem solid transparent;
    }

    .has-intersection-observer section:not(.showcase-group) p {
        margin: 0;
        padding: 0 18px 18px 40%;
        padding: 0 0.75rem 0.75rem 40%;
        z-index: 1;
        position: relative;
    }

    .has-intersection-observer .main-image {
        z-index: -1;
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 53%;
        object-fit: cover;
        clip-path: polygon(-5% 0, 85% 0, 95% 100%, 0 100%);
        transition: clip-path 0.6s 0s;
    }

    .has-intersection-observer .main-image.hidden {
        clip-path: polygon(85% 0, 85% 0, 95% 100%, 95% 100%);
        transition: clip-path 0.6s 0.6s, width 0.6s 0.6s;
    }

    .has-intersection-observer .main-image.rectangular {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        width: calc(40% - 36px);
        width: calc(40% - 1.5rem);
    }

    .has-intersection-observer .main-image#velut-main-image {
        z-index: 0;
        position: sticky;
        float: left;
    }

    .has-intersection-observer section#velut-section h1 {
        margin-top: 12px;
        margin-top: 0.5rem;
    }

    .has-intersection-observer #text-wrap-guide {
        float: left;
        left: 0;
        top: 0;
        min-height: 100vh;
        width: 53%;
        shape-outside: polygon(0 0, 100% 0, 100% 0, 90% 0, 90% 0, 100% 100%, 100% 100%, 0 100%);
        transition: shape-outside 1s;
    }

}


/* CSS for mobile. */

@media (max-width: 600px) {
    nav {
        display: grid;
        grid-template-columns: 2rem 1fr;
        grid-template-areas: 
            "icon socials"
            "icon main";
    }

    nav #nav-icon-a {
        grid-area: icon;
    }

    nav #nav-main-list {
        width: 100%;
        grid-area: main;
        justify-content: space-between;
        border-top: 1px solid var(--nav-text);
    }
    
    nav #socials-list {
        grid-area: socials;
        justify-content: end;
    }

    #socials-list li {
        padding: 6px 12px 3px;
        padding: 0.25rem 0.5rem 0.125rem;
    }

    #nav-main-list li {
        padding: 3px 3px 6px;
        padding: 0.125rem 0.125rem 0.25rem;
    }

    .main-image {
        width: 100%;
        height: 50vw;
        object-fit: cover;
        scroll-snap-align: start;
        padding-top: 96px;
        padding-top: 4rem;
    }

    .default-main-image,.text-wrap-guide {
        display: none;
    }

    section:not(.showcase-group) {
        padding: 18px 12px 96px;
        padding: 0.75rem 0.5rem 4rem;
    }

    body:not(#code-body) section:not(:last-of-type) {
        border-bottom: 2px solid #2d4a1bff;
        border-bottom: 2px solid var(--colour6);
    }

    h1 {
        padding: 0 24px;
        padding: 0 1rem;
        margin: 0;
        scroll-snap-align: none;
    }
}