@import url('https://fonts.googleapis.com/css?family=Alegreya');

html {
    scroll-behavior: smooth;
    scroll-snap-type: proximity;
    /* navbar height is 48px */
    scroll-padding-top: 48px;
}

body {
    font-family: 'Alegreya', serif;
    padding-top:30px;
    padding-left:0px;
    padding-right:0px;
    background-color:rgb(0,32,32);
    min-height:100vh;
}

a:link {
    font-weight: bold;
    font-weight: 600;
}

/* Media query for tiny screens, e.g. Galaxy S5 */

@media (max-width:375px) {
    .body {
        padding-top:600px;
    }
}


/* Media query for printing. */

@media print {
    body {
        min-height: initial;
    }

    a:link::after {
        content: none;
    }
}