/* CSS for mobile. */
@media (max-width: 660px) {
    nav #nav-icon-a {
        padding-right: 0;
    }
}

@media (max-width: 624px) {
    nav {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
            "icon socials"
            "icon main";
        padding: 0 12px 0 9px;
        padding: 0 0.5rem 0 0.375rem;
        width: calc(100% - 0.875rem);
    }

    nav #nav-icon-a {
        grid-area: icon;
        display: flex;
        justify-content: start;
        padding: 12px;
        padding: 0.5rem;
        height: calc(100% - 12px);
        height: calc(100% - 0.5rem);
    }

    nav #nav-icon {
        margin: 0 9px 0 0;
        margin: 0 0.375rem 0 0;
    }

    nav a, nav label {
        display: inline-block;
        text-align: center;
    }

    nav #nav-main-list {
        width: 100%;
        grid-area: main;
        justify-content: space-between;
        border-top: 1px solid #333333 /* --nav-text */;
    }
    
    nav #socials-list {
        grid-area: socials;
        justify-content: end;
        margin-left: auto;
        margin-right: 12px;
        margin-right: 0.5rem;
    }

    nav ul ul {
        clip-path: unset;
        margin: 0;
        padding: 0.25rem 0.5rem 0 0;
    }

    nav #socials-list li a {
        padding: 0.5rem;
        width: 100%;
        text-align: center;
    }

    #socials-list li {
        padding: 0 12px 0;
        padding: 0 0.5rem 0;
    }

    #nav-main-list li a {
        text-align: left;
        width: calc(100% - 0.5rem);
    }

    .main-image {
        width: 100%;
        height: 75vw;
        object-fit: cover;
        padding-top: 93px;
        padding-top: 3.875rem;
    }

    .default-main-image,.text-wrap-guide {
        display: none;
    }

    section:not(.showcase-group) {
        padding: 18px 12px 96px;
        padding: 0.75rem 0.5rem 4rem;
    }

    section:not(.showcase-group):last-of-type {
        padding-bottom: 48px;
        padding-bottom: 2rem;
    }

    body:not(#code-body) section:not(:last-of-type) {
        border-bottom: 2px solid #718b3f /* --colour6 */;
    }

    h2 {
        padding: 0 24px;
        padding: 0 1rem;
        margin: 0;
        font-size: 72px;
        font-size: 3rem;
    }

    .main-image-figure figcaption {
        position: absolute;
        max-width: calc(80% - 2rem);
        left: 1rem;
        bottom: auto;
        transform: translateY(-100%);
        font-size: 0.8rem;
        color: #111111 /* --body-text */;
        background-color: #ccf18d /* --colour5 */;
        background-image: linear-gradient(#ccf18d /* --colour5 */, #718b3f /* --colour6 */);
        padding: 0.25rem 3rem 0.25rem 1rem;
        display: flex;
        align-items: end;
        clip-path: polygon(0 0, calc(100% - 0.25rem) 0, 100% 100%, 0.25rem 100%);
        opacity: 100%;
    }
}

/* CSS for smaller mobiles. */

@media (max-width: 424px) {
    nav {
        grid-template-columns: min-content 1fr;
    }
}

@media (max-width: 355px) {
    nav #nav-icon-a {
        justify-content: center;
        padding: 6px;
        padding: 0.25rem;
        flex-direction: column;
        align-items: center;
    }

    nav #nav-icon {
        margin-right: 0;
    }

    .main-image {
        padding-top: 96px;
        padding-top: 4rem;
    }
}

@media (max-width: 316px) {
    .main-image {
        padding-top: 120px;
        padding-top: 5rem;
    }
}

