/* Styles for the navbar. */

nav {
    position: fixed;
    display: flex;
    z-index: 2;
    width: calc(100% - 36px);
    width: calc(100% - 1.5rem);
    justify-content: space-between;
    align-items: center;
    top: 24px;
    top: 1rem;
    margin: 0;
    padding: 0 18px;
    padding: 0 0.75rem;
    font-size: 19px;
    font-size: 0.7917rem;
    background-color: #bfd4ef;
    background-color: #ffffff7f;
    background-image: linear-gradient(180deg, #ffffff33, #ffffff66, #ffffff33);
    color: #333333 /* --nav-text */;
    text-decoration: none;
}

/* Blur the background of nav */
nav::before {
    position: absolute;
    z-index: -1;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(4px) brightness(103%);
}

nav a {
    color: inherit;
    text-decoration: inherit;
}

nav #nav-icon-a {
    display: flex;
    align-items: center;
    padding: 0 12px 0 6px;
    padding: 0 0.5rem 0 0.25rem;
}

nav #nav-icon {
    width: 36px;
    width: 1.5rem;
    height: 36px;
    height: 1.5rem;
    margin-top: 6px;
    margin-top: 0.25rem;
    margin-right: 12px;
    margin-right: 0.5rem;
    padding: 0;
    background-color: initial;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    flex-basis: max-content;
    flex-grow: 1;
}

nav ul li a:not(#nav-icon-a),label {
    padding: 12px;
    padding: 0.5rem;
}

nav ul li label:hover,a:hover {
    color: #718b3f /* --colour6 */;
    background-image: linear-gradient(#ffffff00, #ffffff00, #ffffff00, #2d4a1b4f);
}

nav ul input {
    position: absolute;
    top: -3.6px;
    top: -0.15rem;
    border: 60px solid transparent;
    border: 2.5rem solid transparent;
    width: 5rem;
    height: 0;
    z-index: -2;
    opacity: 0;
}

nav ul input:focus + label {
    outline: dashed 2px #76027a /* --visited-text */;
}

nav ul li a,label {
    padding-left: 9px;
    padding-right: 9px;
    padding-left: 0.375rem;
    padding-right: 0.375rem;
}

nav ul ul {
    position: absolute;
    flex-direction: column;
    display: none;
    font-size: 20px;
    font-size: 0.8333rem;
    margin-top: 12px;
    margin-top: 0.5rem;
    background-color: #9ebee7;
    background-color: #ffffffcf;
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
}

/* Blur the background of nav submenus */
nav ul ul::before {
    position: absolute;
    z-index: -1;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(3px) brightness(103%);
}

nav label {
    cursor: pointer;
    padding: 12px 18px;
    padding: 0.5rem 0.75rem;
}

/* These rules are for Internet Explorer to display the down arrow for the nav menus correctly.
For the hover state to be a different colour to the non-hover state, IE needs a different image.
Modern browsers are capable of colouring the SVG with CSS if the SVG is applied as a mask, 
so that’s what we do in the @supports query, which over-rides the IE rules. */
#nav-main-list label::after {
    content: "⮟";
    font-size: 16px;
    font-size: 0.6667rem;
    color: transparent;
    background-image: url(../images/arrow-down.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#nav-main-list label:hover::after {
    background-image: url(../images/arrow-down-hover.svg); /* Only IE needs this. */
}

/* In modern browsers, this over-rides the previous code for displaying the nav menu arrow. */
@supports (mask-size: contain) or (-webkit-mask-size: contain) {
    #nav-main-list label::after {
        width: 0.95em;
        height: 0.5em;
        display: inline-block;
        content: '';
        -webkit-mask: url(../images/arrow-down.svg) no-repeat 50% 50%;
        mask: url(../images/arrow-down.svg) no-repeat 50% 50%;
        -webkit-mask-size: contain;
        mask-size: contain;
        background: unset;
        background-color: #333333 /* --nav-text */;
    }
    
    #nav-main-list label:hover::after {
        background: unset;
        background-color: #718b3f /* --colour6 */;
    }
}

#nav-main-list :checked ~ label {
    background-color: #ffffffdf;
}

#nav-main-list :checked ~ ul {
    display: block;
}

nav ul ul li {
    padding: 6px 12px 0 0;
    padding: 0.25rem 0.5rem 0 0;
    width: 100%;
}

nav ul ul li a {
    display: inline-block;
    padding: 6px 12px 6px 18px;
    padding: 0.25rem 0.5rem 0.25rem 0.75rem;
    width: 100%;
}

nav #socials-list {
    flex-grow: 0;
}
