/* Code Nation project showcase */

#showcase-links-body {
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    min-height: calc(100vh - 48px);
    height: auto;
    width: 100%;
    padding-top: 48px;
    margin-bottom: 96px;
}

div.showcase-links-head {
    width: 100%;
    padding-left: calc(10vw - 12px);
}

div.showcase-links-head:not(:first-of-type) {
    padding-top: 48px;
}

div.showcase-links-head h1 {
    color: #959595;
}

div.showcase-links-head p {
    font-size: 20px;
    color: #707070;
}

.showcase-link-div {
    display:flex;
    margin:18px 0 9px 0;
    width:425px;
    height:255px;
    background-color:azure;
    text-align: center;
    font-size: 17px;
    align-items: center;
    border:5px solid teal;
    position: relative
}

.showcase-link-div:not(.showcase-link-to-bad-page):hover {
    background-color:white;
}

.github-link {
    position: absolute;
    right: 6px;
    bottom: -4px;
    font-size: 36px
}

.showcase-link-a {
    width:100%;
    height:100%;
    padding:auto 50px;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    text-decoration:none;
    color:teal;
    font-weight:bold
}

.showcase-link-a:hover {
    color:darkseagreen;
}

.showcase-link-to-bad-page .showcase-link-a {
    color: #505050
}

.showcase-link-to-bad-page .showcase-link-a:hover {
    color: #505050
}

.project-screenshot {
    height:240px;
}

.showcase-link-a div {
    width:250px;
    padding:0 20px;
}

.index-made-with {
    opacity: 0.85;
    font-weight:normal;
    font-size: 16px;
}

.index-finish-date,.index-reason-no-demo{
    color:grey;
    font-weight:normal;
    font-size: 16px;
}

.showcase-link-to-bad-page {
    background-color:#dddddd;
    border:5px solid #505050;
}

.showcase-link-div a {
    color:#0066cc;
}

.showcase-link-div a:hover {
    color:dodgerblue;
}



/* Media query for mobile/tablet */

@media (max-width:767px) {
    .showcase-links-body {
        height: auto;
        justify-content:space-around;
        padding:36px 0px 18px 0px;
    }

    .showcase-links-head:not(:first-of-type) {
        padding-top: 6px;
    }

    .showcase-link-div {
        width:90vw;
    }
}



/* Media query for tiny screens, e.g. Galaxy S5 */

@media (max-width:375px) {

    .showcase-links-body {
        height: auto
    }
    
    .showcase-link-div {
        height:270px;
    }

    .showcase-link-a {
        padding:0;
        display:flex;
        align-items:center;
    }

    .project-screenshot {
        transform:translateY(0px)
    }

    .showcase-link-a div {
        margin:0;
        height: auto;
    }
}



/* Media query for printing. */

@media print {
    #showcase-links-body,div.showcase-links-head {
        margin: initial;
        padding: initial;
    }

    .showcase-link-div {
        border-width: 2px;
    }
}

@media print and (min-width: 425px) {
    #showcase-links-body {
        justify-content: space-between;
    }

    .showcase-link-div {
        width:352px;
        margin:18px 0 9px 0;
    }
}