/* Code Nation (etc) project showcase */

.no-intersection-observer .showcase-group {
    width: 95vw;
}

.showcase-group {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 12px;
    height: initial;
}

.showcase-head,.showcase-link-div {
    scroll-snap-align: center;
    scroll-snap-stop: normal;
}

.showcase-head {
    width: 100%;
    padding-top: 48px;
}

.has-intersection-observer .showcase-head h1 {
    position: relative;
    margin: 0 0 24px;
}

.has-intersection-observer .showcase-head h1 + p {
    padding-top: 0px;
}

.showcase-head p {
    color: #3c381d;
    text-align: left;
    margin: 0;
    padding: 0px 18px 18px 40%;
}

.showcase-link-div {
    display: flex;
    margin: 18px 0 9px 0;
    width: 425px;
    height: 255px;
    background-color: azure;
    text-align: center;
    font-size: 17px;
    align-items: center;
    border: 5px solid teal;
    position: relative
}

.showcase-link-div:not(.showcase-link-to-bad-page):hover {
    background-color: white;
}

.github-link {
    position: absolute;
    right: 6px;
    bottom: -4px;
    font-size: 36px
}

.showcase-link-a {
    width: 100%;
    height: 100%;
    padding: auto 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: teal;
    font-weight: bold
}

.showcase-link-a:hover {
    color: darkseagreen;
}

.showcase-link-to-bad-page .showcase-link-a {
    color: #505050
}

.showcase-link-to-bad-page .showcase-link-a:hover {
    color: #505050
}

.project-screenshot {
    height: 240px;
    width: 136.81px;
}

.showcase-link-a div {
    width: 250px;
    padding: 0 20px;
}

.showcase-link-div div h2 {
    font-size: 18px;
    margin: 3px 0 4px;
}

.index-made-with {
    opacity: 0.85;
    font-weight: normal;
    font-size: 16px;
}

.index-finish-date,
.index-reason-no-demo {
    color: grey;
    font-weight: normal;
    font-size: 16px;
}

.showcase-link-to-bad-page {
    background-color: #dddddd;
    border: 5px solid #505050;
}

.showcase-link-div a {
    color: #0066cc;
}

.showcase-link-div a:hover {
    color: dodgerblue;
}



/* Media query for mobile/tablet */

@media (max-width:767px) {
    .showcase-group {
        height: auto;
        justify-content: space-around;
    }

    .jumbotron-container + .showcase-group {
        margin-top: 0px;
    }
    
    .showcase-group + .jumbotron-container {
        margin-top: 48px;
    }

    .showcase-link-div {
        width: 90vw;
    }
}



/* Media query for tiny screens, e.g. Galaxy S5 */

@media (max-width:375px) {

    .showcase-group {
        height: auto
    }

    .showcase-link-div {
        height: 270px;
    }

    .showcase-link-a {
        padding: 0;
        display: flex;
        align-items: center;
    }

    .project-screenshot {
        transform: translateY(0px)
    }

    .showcase-link-a div {
        margin: 0;
        height: auto;
    }
}



/* Media query for printing. */

@media print {

    #showcase-group,
    .showcase-head {
        margin: initial;
        padding: initial;
    }

    .showcase-link-div {
        border-width: 2px;
    }
}

@media print and (min-width: 425px) {
    #showcase-group {
        justify-content: space-between;
    }

    .showcase-link-div {
        width: 352px;
        margin: 18px 0 9px 0;
    }
}