/* Code Nation (etc) project showcase */

html {
	--showcase-background-opaque: #002712;
	--showcase-background: #001409cc;
	--linked-project-text: teal;
	--project-border-width: 0.2083rem;
}

.no-intersection-observer .showcase-group {
	width: 100%;
}

.showcase-group {
	scroll-padding-top: 0.5rem;
	height: initial;
	width: 100%;
	padding-bottom: 1rem;
	position: relative;
}

.showcase-group::before {
	content: '';
	inset: 0;
	position: absolute;
	background-color: var(--showcase-background-opaque);
	background-color: var(--showcase-background);
	background-position: absolute;
}
.diagonal .showcase-group::before {
	z-index: -1;
}
.rectangular .showcase-group::before {
	z-index: 1;
}

.rectangular .showcase-group {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

/* Background of last showcase should extend to the bottom edge of the page. */
.diagonal .showcase-group#javascript-projects::before {
	box-shadow: 0 0 0 100vh var(--showcase-background);
	clip-path: inset(0 0 -100vh);
}

.showcase-group * {
	z-index: 1;
}

.showcase-group :focus {
	outline-color: var(--showcase-background-opaque);
	outline-color: var(--showcase-background);
}

.showcase-group#velut-projects {
	padding-bottom: 5rem;
}

hgroup {
	width: 100%;
	padding-top: 2.5rem;
}

@media screen and (min-width: calc(42.125rem + 0.0001rem)) {
	section article hgroup h2 {
		position: absolute;
		font-size: 3.5rem;
		padding-right: 1.5rem;
		margin: 1.75rem 0 1rem;
		width: calc(100% - 1.5rem);
		color: inherit;
		z-index: 1;
		filter:
			drop-shadow(0 0 1px #000)
			drop-shadow(0 0 1px var(--showcase-background-opaque))
			drop-shadow(0 0 2px var(--showcase-background-opaque))
			drop-shadow(0 0 3px var(--showcase-background-opaque))
			drop-shadow(0 0 1em var(--showcase-background-opaque))
			;
	}
}

.no-intersection-observer hgroup h2 {
	margin-bottom: 1rem;
}

hgroup p {
	color: inherit;
	text-align: left;
	margin: 0;
	padding: 0 0.75rem 0.75rem 40%;
}

@media screen {
	hgroup {
		width: 100%;
		padding-top: 2.5rem;
		color: var(--colour2);
	}

	section article hgroup h2 {
		background: -webkit-linear-gradient(top, var(--colour2), var(--colour3));
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.project {
	display: flex;
	margin: 0.75rem 0 0.375rem 0;
	width: 17.7083rem;
	height: 10.625rem;
	background-color: azure;
	text-align: center;
	font-size: 0.8333rem;
	align-items: center;
	border: 0.2083rem solid var(--linked-project-text);
	position: relative;
}

/* If projects are constrained to the right half of the screen because of the diagonal, they look better centred within the trapezium. */
.diagonal .project {
	margin-left: auto;
	margin-right: auto;
}

.project:not(.project-with-no-demo) .project-inner-div:focus-within {
	outline-width: 2px;
	outline-offset: -3px;		
	outline-style: dashed;
	outline-color: var(--showcase-background-opaque);
	outline-color: var(--showcase-background);
}

.project h3 a {
	text-decoration: none;
}

/* Focus styles are on an ancestor div. */
.project h3 a:focus-within {
	outline: none;
}

/* Pseudo-element means any click on the card (the absolutely-positioned ancestor) triggers the link. */
.project h3 a::after {
	content: '';
	position: absolute;
	top: calc(-1 * var(--project-border-width));
	right: calc(-1 * var(--project-border-width));
	bottom: calc(-1 * var(--project-border-width));
	left: calc(-1 * var(--project-border-width));
	/* z-index means clicking on non-link text triggers the link, because it’s under it. */
	z-index: 1;
}

.project:not(.project-with-no-demo):hover {
	background-color: white;
	border-color: #6ae6ff;
}

.project:not(.project-with-no-demo):hover,
.project:not(.project-with-no-demo):hover * {
	color: var(--unvisited-text);
}

/* This contains the GitHub logo from Font Awesome. */
.github-div {
	position: absolute;
	right: -0.125rem;
	bottom: -0.125rem;
	font-size: 1.75rem;
	line-height: 1.25em;
	/* Layer the GitHub logo over the heading’s link’s ::after */
	z-index: 2;
}

.github-div a::before {
	content: 'Git';
	color: transparent;
	background-color: #006168;
	background-image: url(../images/github.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.github-div a:hover::before {
	background-color: #01c1e8;
}

/* In modern browsers, this over-rides the previous code for displaying the GitHub logo. */
@supports (mask-size: contain) or (-webkit-mask-size: contain) {
	.github-div a::before {
		width: 1em;
		height: 1em;
		display: inline-block;
		content: '';
		-webkit-mask: url(../images/github-square.svg) no-repeat 50% 50%;
		mask: url(../images/github-square.svg) no-repeat 50% 50%;
		-webkit-mask-size: contain;
		mask-size: contain;
		margin: 0.25rem;
		transform: translateY(0.5rem);
		background-image: unset;
		background-position: unset;
		background-size: unset;
	}
}

.project-inner-div {
	width: 100%;
	height: 100%;
	padding: auto 2.0833rem;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	text-decoration: none;
	color: var(--linked-project-text);
	font-weight: bold;
}

.project-inner-div picture {
	line-height: 0;
}

.project-screenshot {
	height: 10rem;
	width: 5.7004rem;
	margin-left: 0.1667rem;
}

.project-inner-div div {
	width: 10.4167rem;
	padding: 0 0.8333rem;
}

.project div h3 {
	font-size: 1rem;
	margin: 0.125rem 0 0.1667rem;
}

.project-made-with {
	opacity: 0.85;
	font-weight: normal;
	font-size: 0.8333rem;
	color: black;
	opacity: 0.87;
	/* Opacity means color can change on hover without losing tint differences. */
}

time,
.project-reason-no-demo {
	color: black;
	opacity: 0.62;
	font-weight: normal;
	font-size: 0.8333rem;
}

.project-with-no-demo {
	background-color: #e2e2e2;
	--unlinked-project-text: #505050;
	border: var(--project-border-width) solid var(--unlinked-project-text);
	border-width: 0.2083rem;
}

.project a {
	color: #001b24 /* much darker than --unvisited-text */;
}

.project a:hover {
	color: var(--linked-project-text);
}

/* Media query for mobile/tablet */

@media (max-width: 48rem) {
	.showcase-group {
		height: auto;
		justify-content: space-around;
	}

	.project {
		width: 90vw;
	}
}

/* Media query for when the navbar becomes two rows. */

@media (max-width: 42.125rem) {
	hgroup {
		padding-top: 4rem;
	}
}


/* Media query for tiny screens, e.g. Galaxy S5 */

@media (max-width: 24rem) {
	.showcase-group {
		height: auto
	}

	.project {
		height: 11.25rem;
	}

	.project-inner-div {
		padding: 0;
		display: flex;
		align-items: center;
	}

	.project-screenshot {
		transform: translateY(0);
	}

	.project-inner-div div {
		margin: 0;
		height: auto;
	}
}


/* Media query for printing. */

@media print {
	#showcase-group,
	hgroup {
		margin: initial;
		padding: initial;
	}

	article.showcase-group {
		background: none;
	}

	.showcase-group a:not(#nav-icon-a)::after {
		position: absolute;
		clip-path: none;
		width: 19rem;
		transform: translateX(-15rem) translateY(5.25rem);
	}

	.showcase-group .project-inner-div::after {
		transform: translateX(0rem) translateY(6.5rem);
	}

	.github-div a:not(#nav-icon-a)::after {
		font-size: 0.6rem;
		width: 18rem;
		transform: translateX(-17rem) translateY(3.5rem);
	}

	.project {
		border-width: 2px;
		margin: 0.75rem 0 5rem 0;
	}
}

@media print and (min-width: calc(26.5rem + 0.0001rem)) {
	#showcase-group {
		justify-content: space-between;
	}

	.showcase-link-div {
		width: 352px;
		margin: 18px 0 9px 0;
	}
}
