/* Code Nation (etc) project showcase */

.no-intersection-observer .showcase-group {
    width: 100%;
}

.showcase-group {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    scroll-snap-type: y proximity;
    scroll-padding-top: 12px;
    height: initial;
    width: 100%;
    padding-bottom: 24px;
    padding-bottom: 1rem;
    background-color: hsla(147, 100%, 4%, 0.75);
    background-position: absolute;
}

.showcase-group#csharp-projects {
    padding-bottom: 120px;
    padding-bottom: 5rem;
}

.showcase-head {
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    width: 100%;
    padding-top: 60px;
    padding-top: 2.5rem;
    color: #b3d3f7ff;
    color: var(--colour2);
}

.showcase-head h1 {
    position: relative;
    margin: 42px 0 24px;
    margin: 1.75rem 0 1rem;
    color: black;
    background: -webkit-linear-gradient(top, #b3d3f7ff, #9aa691ff);
    background: linear-gradient(180deg, var(--colour2), var(--colour3));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.showcase-head p {
    color: inherit;
    text-align: left;
    margin: 0;
    padding: 0 18px 18px 40%;
    padding: 0 0.75rem 0.75rem 40%;
}

.showcase-link-div {
    scroll-snap-align: center;
    scroll-snap-stop: normal;
    display: flex;
    margin: 18px 0 9px 0;
    margin: 0.75rem 0 0.375rem 0;
    width: 425px;
    width: 17.7083rem;
    height: 255px;
    height: 10.625rem;
    background-color: azure;
    text-align: center;
    font-size: 20px;
    font-size: 0.8333rem;
    align-items: center;
    border: 5px solid teal;
    border: 0.2083rem solid teal;
    position: relative
}

.showcase-link-div:not(.showcase-link-to-bad-page):hover {
    background-color: white;
}

/* This contains the GitHub logo from Font Awesome. */
.github-link {
    position: absolute;
    right: 6px;
    right: 0.25rem;
    bottom: -4px;
    bottom: -0.1667rem;
    font-size: 36px;
    font-size: 1.5rem;
}

/* Screenreaders do not understand the GitHub logo shown to sighted users,
so extra text has been added and then hidden from sighted users.
Screenreaders will read the words eg “Cyberpet code”, but sighted users won’t.
Taken from https://webaim.org/techniques/css/invisiblecontent/ */
.github-link-accessible-text {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.showcase-link-a {
    width: 100%;
    height: 100%;
    padding: auto 50px;
    padding: auto 2.0833rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: teal;
    font-weight: bold;
}

.showcase-link-a:hover {
    color: darkseagreen;
}

.showcase-link-to-bad-page .showcase-link-a {
    color: #505050;
}

.showcase-link-to-bad-page .showcase-link-a:hover {
    color: #505050;
}

.project-screenshot {
    height: 240px;
    height: 10rem;
    width: 136.81px;
    width: 5.7004rem;
}

.showcase-link-a div {
    width: 250px;
    width: 10.4167rem;
    padding: 0 20px;
    padding: 0 0.8333rem;
}

.showcase-link-div div h2 {
    font-size: 24px;
    font-size: 1rem;
    margin: 3px 0 4px;
    margin: 0.125rem 0 0.1667rem;
}

.index-made-with {
    opacity: 0.85;
    font-weight: normal;
    font-size: 20px;
    font-size: 0.8333rem;
}

.index-finish-date,
.index-reason-no-demo {
    color: #606060ff;
    font-weight: normal;
    font-size: 20px;
    font-size: 0.8333rem;
}

.showcase-link-to-bad-page {
    background-color: #dddddd;
    border: 5px solid #505050;
    border: 0.2083rem solid #505050;
}

.showcase-link-div a {
    color: #0066cc;
}

.showcase-link-div a:hover {
    color: dodgerblue;
}



/* Media query for mobile/tablet */

@media (max-width:767px) {
    .showcase-group {
        height: auto;
        justify-content: space-around;
    }

    .jumbotron-container + .showcase-group {
        margin-top: 0;
    }
    
    .showcase-group + .jumbotron-container {
        margin-top: 48px;
        margin-top: 2rem;
    }

    .showcase-link-div {
        width: 90vw;
    }
}



/* Media query for tiny screens, e.g. Galaxy S5 */

@media (max-width:375px) {

    .showcase-group {
        height: auto
    }

    .showcase-link-div {
        height: 270px;
        height: 11.25rem;
    }

    .showcase-link-a {
        padding: 0;
        display: flex;
        align-items: center;
    }

    .project-screenshot {
        transform: translateY(0);
    }

    .showcase-link-a div {
        margin: 0;
        height: auto;
    }
}



/* Media query for printing. */

@media print {

    #showcase-group,
    .showcase-head {
        margin: initial;
        padding: initial;
    }

    .showcase-link-div {
        border-width: 2px;
    }
}

@media print and (min-width: 425px) {
    #showcase-group {
        justify-content: space-between;
    }

    .showcase-link-div {
        width: 352px;
        margin: 18px 0 9px 0;
    }
}