/* Code Nation project showcase */

#showcase-links-body {
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    min-height: calc(100vh - 48px);
    height: auto;
    width: 100%;
    margin-bottom: 36px;
}

div.showcase-links-head {
    width: 100%;
    padding-left: calc(10vw - 12px);
    color: #707070;
}

div.showcase-links-head:not(:first-of-type) {
    padding-top: 18px;
}

div.showcase-links-head h1 {
    color: #959595;
}

.showcase-link-div {
    display:flex;
    margin:12px 0 6px 0;
    width:425px;
    height:255px;
    background-color:azure;
    text-align:center;
    align-items:center;
    border:5px solid teal;
    position: relative
}

.showcase-link-div:not(.showcase-link-to-bad-page):hover {
    background-color:white;
}

.github-link {
    position: absolute;
    right: 6px;
    bottom: -4px;
    font-size: 36px
}

.showcase-link-a {
    width:100%;
    height:100%;
    padding:auto 50px;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    text-decoration:none;
    color:teal;
    font-weight:bold
}

.showcase-link-a:hover {
    color:darkseagreen;
}

.showcase-link-to-bad-page .showcase-link-a {
    color: #505050
}

.showcase-link-to-bad-page .showcase-link-a:hover {
    color: #505050
}

.project-screenshot {
    height:240px;
}

.showcase-link-a div {
    width:250px;
    padding:0 20px;
}

.index-made-with {
    /* font-size is set in media queries */
    opacity: 0.8;
    font-weight:normal
}

.index-finish-date,.index-reason-no-demo{
    /* font-size is set in media queries */
    color:grey;
    font-weight:normal
}

.showcase-link-to-bad-page {
    background-color:#dddddd;
    border:5px solid #505050;
}

.showcase-link-div a {
    color:#0066cc;
}

.showcase-link-div a:hover {
    color:dodgerblue;
}

/* Media query for mobile/tablet */

@media (max-width:767px) {

    .showcase-links-body {
        height: auto;
        justify-content:space-around;
        padding:36px 0px 18px 0px;
    }

    .showcase-links-head:not(:first-of-type) {
        padding-top: 6px;
    }

    .showcase-link-div {
        width:90vw;
    }
}



/* Media query for mobile/tablet */

@media (max-width:767px) {
    .showcase-links-body {
        height: auto;
        justify-content:space-around;
        padding:36px 0px 18px 0px;
    }

    .showcase-links-head:not(:first-of-type) {
        padding-top: 6px;
    }

    .showcase-link-div {
        width:90vw;
    }
}



/* Media query for tiny screens, e.g. Galaxy S5 */

@media (max-width:375px) {

    .showcase-links-body {
        height: auto
    }
    
    .showcase-link-div {
        height:270px;
    }

    .showcase-link-a {
        padding:0;
        display:flex;
        align-items:center;
    }

    .project-screenshot {
        transform:translateY(0px)
    }

    .showcase-link-a div {
        margin:0;
        height: auto;
    }
}