/* This CSS is not used on DuncanRitchie.co.uk inside this repo. It is, however, imported into projects such as velut-json-generator.  */

html, body {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main, footer ul {
	width: calc(100vw - 2rem);
	max-width: 48rem;
}

h2 {
	font-size: 2.5rem;
}

label {
	margin: 0;
	padding: 0;
}

input, textarea {
	font-size: 0.8em;
}

textarea {
	padding: 0.5rem;
	width: calc(100% - 1rem);
	min-height: 5rem;
	resize: vertical;
}

.buttons {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 1rem;
	font-size: 0.875rem;
	gap: 0.25rem;
}

button {
	font-size: inherit;
	font-family: inherit;
	padding: 0.25rem 0.5rem;
	cursor: pointer;
}

section, footer {
	margin-top: 2.5rem;
	border-top: 0.25rem solid #002712 /* --showcase-background-opaque */;
	border-top: 0.25rem solid #001409c0 /* --showcase-background */;
	align-items: center;
}

footer {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	background-color: #ffffff16;
}

footer ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 0.5rem;
	padding: 0 0.5rem;
}
