/* This subsites.css file is not used on DuncanRitchie.co.uk inside this repo. It is, however, imported into projects such as velut-json-generator.  */

/* Fonts are not imported in this file, to avoid CORS problems when this file is imported.
  CSS files specifically for fonts need to be imported directly, for example
	<link rel="stylesheet" href="https://fonts.duncanritchie.co.uk/subsites.css">
*/

:root {
	--page-background:
		linear-gradient(rgba(255, 255, 255, 0.125), rgba(255, 255, 255, 0.125)),
		linear-gradient(rgb(137, 179, 234), rgb(225, 239, 255), rgb(198, 209, 190), rgb(194, 223, 101), rgb(207, 242, 149), rgb(122, 147, 76));
	--section-border-opaque: #002712;
	--section-border: #001409cc;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main, footer ul {
	width: calc(100vw - 2rem);
	max-width: 48rem;
}

h1,h2,h3,h4 {
	margin-top: 0.875em;
}

h2 {
	font-size: 2.375rem;
}

label {
	margin: 0;
	padding: 0;
}

input, textarea {
	font-size: 0.8em;
}

textarea {
	padding: 0.5rem;
	width: calc(100% - 1rem);
	min-height: 5rem;
	resize: vertical;
}

.buttons {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 1rem;
	font-size: 0.875rem;
	gap: 0.25rem;
}

button {
	font-size: inherit;
	font-family: inherit;
	padding: 0.25rem 0.5rem;
	cursor: pointer;
}

section, footer {
	margin-top: 2.5rem;
	border-top: 0.25rem solid var(--section-border-opaque);
	border-top: 0.25rem solid var(--section-border);
	align-items: center;
}

footer {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	background-color: #ffffff16;
}

footer ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 0.5rem;
	padding: 0 0.5rem;
}

/* CSS for customising the <summary> arrow is adapted from velut. */

/* Hide the <summary>’s default arrow.
	(This works because <summary> has {display: list-item} by default,
	which would give the arrow as a ::marker pseudo-element.) */
summary {
	display: block;
}

/* Arrow next to <summary> */
summary::before {
	content: '    ';
	background-image: url(https://www.duncanritchie.co.uk/images/arrow-down.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 0.625em;
	display: inline-block;
	width: 0.625em;
	margin-right: 0.625em;
}

/* Arrow is positioned on the left side of <summary> */
/* It points right when <details> is closed and rotates to point down on opening. */
summary::before {
	transition: transform 0.25s;
	transform: rotate(-0.25turn);
}

details[open] summary::before {
	transform: rotate(0turn);
}
