@import url('https://fonts.googleapis.com/css?family=Alegreya');

html,body {
    margin: 0;
    padding: 0;
    font-family: "Alegreya", serif;
    font-size: 24px;
    --colour1: rgb(94, 147, 215);
    --colour2: rgb(202, 222, 245);
    --colour3: rgb(182, 192, 174);
    --colour4: rgb(155, 182, 66);
    --colour5: rgb(140, 179, 75);
    --colour6: rgb(62, 97, 41);
    --nav-text: rgb(51, 51, 51);
    --body-text: rgb(17, 17, 17);
    --visited-text: rgb(118, 2, 122);
    scroll-snap-type: proximity;
    scroll-snap-type: y proximity;
}

body {
    min-height: 100vh;
    /* Browsers that don’t do gradients will use the jpeg background. */
    background-image: url(backgrounds/gradient-background.jpg);
    background-size: 100% 100%;
    /* Browsers that don’t do CSS variables will use the hex values. */
    background-image: linear-gradient(
        #5e93d7ff,
        #b3d3f7ff,
        #9aa691ff,
        #7d952fff,
        #82aa3bff,
        #2d4a1bff
    );
    /* Browsers that support gradients and CSS variables will use these. */
    background-image: linear-gradient(
        var(--colour1),
        var(--colour2),
        var(--colour3),
        var(--colour4),
        var(--colour5),
        var(--colour6)
    );
    background-attachment: fixed;
}

main a {
    text-decoration: underline;
}

main a:visited {
    color: var(--visited-text);
}

main a:hover {
    color: var(--colour6);
    text-decoration: none;
    border-bottom: 1px thin;
}

/* Styles for the navbar. */

nav {
    position: fixed;
    display: flex;
    z-index: 2;
    width: calc(100% - 48px);
    justify-content: space-between;
    align-items: center;
    margin: 24px 0 0;
    padding: 0 24px;
    font-size: 19px;
    background-color: #bfd4ef;
    background-color: #ffffff7f;
    color: var(--nav-text);
    text-decoration: none;
}

nav a {
    color: inherit;
    text-decoration: inherit;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav ul li a:not(#nav-icon-a),label {
    padding: 12px;
}

nav ul li label:hover,a:hover {
    color: var(--colour6);
    background-image: linear-gradient(#ffffff00, #ffffff00, #ffffff00, #2d4a1b4f);
}

nav ul input {
    display: none;
}

nav ul li a,label {
    padding-left: 9px;
    padding-right: 9px;
}

nav #nav-icon {
    width: 36px;
    margin-top: 6px;
    padding: 0;
    background-color: initial;
}

/* nav #skip-nav-li {
    color: var(--colour6);
    transition: all 0.3s;
}

nav #skip-nav-li:not(:focus-within) {
    width: 0;
    transform: translateX(-100vw);
} */

nav ul ul {
    position: absolute;
    flex-direction: column;
    display: none;
    font-size: 20px;
    margin-top: 12px;
    background-color: #9ebee7;
    background-color: #ffffffcf;
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
}

nav label {
    cursor: pointer;
    padding: 12px 18px;
}

nav label::after {
    content: "⮟";
    font-size: 16px;
}

nav :checked ~ label {
    background-color: #ffffffdf;
}

nav :checked ~ ul {
    display: block;
}

nav ul ul li {
    padding: 6px 12px 0 0;
    width: 100%;
}

nav ul ul li a {
    display: inline-block;
    padding: 6px 12px 6px 18px;
    width: 100%;
}

section {
    padding: 0;
    margin: 0;
    scroll-snap-align: start;
}

h1 {
    font-size: 84px;
    font-weight: normal;
    font-weight: 400;
    z-index: 1;
    text-align: right;
}

/* This selector is for adding an arrow after external links inside sections. */
section p a[href^="http"]:not([href*="duncanritchie.co.uk"])::after {
    content: "↗";
    vertical-align: super;
    font-size: 60%;
    padding-left: 0.15rem;
    outline: none;
    text-decoration: none;
    clip-path: polygon(0 0, 100% 0, 100% 77%, 0 77%)
}

section .img-container {
    padding-top: 24px;
    text-align: right;
}

section .img-container img {
    width: 300px;
}

/* CSS for browsers that support intersection observers. */

.has-intersection-observer section {
    min-height: 100vh;
}

.has-intersection-observer h1 {
    padding-top: 36px;
    right: 30px;
    position: absolute;
    /* Browsers that don’t understand background-clip will show white text on a gradient-filled rectangle. */
    color: white;
    background: -webkit-linear-gradient(top,#111007,#58522c);
    background: linear-gradient(180deg, #111007, #58522c);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.has-intersection-observer section h1 + p {
    padding-top: 228px;
}

.has-intersection-observer section p {
    margin: 0;
    padding: 0px 18px 18px 40%;
    z-index: 1;
    position: relative;
}

.has-intersection-observer .main-image {
    z-index: 0;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 53%;
    object-fit: cover;
    clip-path: polygon(-5% 0, 85% 0, 95% 100%, 0 100%);
    transition: clip-path 0.6s 0s;
}

.has-intersection-observer .main-image.hidden {
    clip-path: polygon(85% 0, 85% 0, 95% 100%, 95% 100%);
    transition: clip-path 0.6s 0.6s;
}

.has-intersection-observer #text-wrap-guide {
    float: left;
    left: 0;
    top: 0;
    min-height: 100vh;
    width: 53%;
    shape-outside: polygon(0 0, 100% 0, 100% 0, 90% 0, 90% 0, 100% 100%, 100% 100%, 0 100%);
    transition: shape-outside 1s;
}

/* CSS for browsers that don’t support intersection observers. */

.no-intersection-observer .default-main-image {
    display: none;
}

.no-intersection-observer .main-image {
    position: relative;
    float: left;
    width: 50vw;
    min-height: 36vw;
    padding: 84px 0 24px 0;
}

.no-intersection-observer section {
    float: right;
    width: 45vw;
    padding: 84px 2vw 24px 1vw;
}

.no-intersection-observer h1 {
    color: #3c381d;
    margin: 0;
}

.no-intersection-observer .main-image:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
}

.no-intersection-observer section:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
}

